<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form method="POST" action="/register">
            <input  aria-label="Name" id = "name_user_id">
            <input  aria-label="password" id = "password_user_id">
            <input  aria-label="Img_url" id = "img_url_id">
            <button type = "submit">Зареєструватися</button>
        </form>
        <form method="GET" action="/sign_in">
            <input  aria-label="Name" id = "name_user_sign_id">
            <input  aria-label="password" id = "password_user_sign_id">
            <button type = "submit">увійти</button>
        </form>



    <img src="">
</body>
</html>